@import "~src/scss/colors";

$error-font-size: 10px;

:host {
  display: flex;
  flex-direction: column;
}

.input-container {
  padding-bottom: ($error-font-size + 5px);
  position: relative;

  .input {
    border: 1px solid $green;
    border-radius: 20px;
    padding: 10px 15px;
    width: 100%;

    &.hasError {
      border-color: $red;
    }
  }

  .error-message {
    bottom: 0;
    color: $red;
    font-size: $error-font-size;
    left: 0;
    position: absolute;
  }
}

.input-label {
  color: $green;
  margin-bottom: 5px;

  &.hasError {
    color: $red;
  }
}
