<app-nav-bar></app-nav-bar>
<div class="coupons">
  <div class="coupons-content">
    <h1 class="app-title">Cupones</h1>
    <table class="app-table coupons-table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Fecha de Caducidad</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody *ngIf="coupons.length > 0">
        <tr id="coupon-{{index}}" *ngFor="let coupon of coupons; let index = index">
          <td>{{ coupon.code }}</td>
          <td>{{ coupon.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ coupon.description }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="coupons.length == 0">
        <tr>
          <td colspan="3">No se encontraron registros</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
