<app-offer-modal #offerModal></app-offer-modal>
<app-confirmation-modal #confirmationModal></app-confirmation-modal>
<app-nav-bar></app-nav-bar>
<div class="home">
  <div class="home-content">
    <h1 class="app-title">Pedidos</h1>
    <table class="app-table offers-table">
      <thead>
        <tr>
          <th class="sort-col" (click)="updateOffers(SORT_BY.DATE)">
            <span id="date-order" class="sort-col-title" [ngClass]="resolveSortClass(SORT_BY.DATE)">
              Fecha
            </span>
          </th>
          <th>Descripción</th>
          <th class="sort-col" (click)="updateOffers(SORT_BY.PRICE)">
            <span id="price-order" class="sort-col-title" [ngClass]="resolveSortClass(SORT_BY.PRICE)">
              Precio
            </span>
          </th>
          <th>Costo de Envío</th>
          <th class="sort-col" (click)="updateOffers(SORT_BY.LOCAL)">
            <span id="comerce-order" class="sort-col-title" [ngClass]="resolveSortClass(SORT_BY.LOCAL)">
              Comercio
            </span>
          </th>
          <th>Dirección</th>
          <th>Uso Cupón?</th>
        </tr>
      </thead>
      <tbody *ngIf="orders.length">
        <tr id="order-{{index}}" *ngFor="let order of orders; let index = index">
          <td>{{ order.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ order.description }}</td>
          <td class="align-right">{{ order.price | currency }}</td>
          <td class="align-right">{{ order.shipping_cost | currency }}</td>
          <td>{{ order.local }}</td>
          <td>{{ order.address }}</td>
          <td>{{order.usedCoupon ? "Si" : "No"}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="orders.length == 0">
        <tr>
          <td colspan="7">No se encontraron registros</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
